<br>
<div class="card w-75 bg-dark mx-auto">
    <a class="text-light nav-link" href="/api/blogPosts/{{id}}">
    <div class="card-header">
        {{title}}
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{body_text}}</p>
            <hr class="rounded">
            <p style="font-size: 12px">{{format_time createdAt}}</p>
        </blockquote>
    </div>
    </a>
</div>
<div>
    <a class="btn btn-dark mx-auto" href="/dashboard/editPost/{{id}}" role="button" style="display: block; width: 100px; margin-top: 5px">Edit Post</a>
</div>

<hr class="rounded">