<br>
<div class="card w-75 bg-dark mx-auto">
    <a class="text-light nav-link" href="/api/blogPosts/{{id}}">
    <div class="card-header">
        {{title}}
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{body_text}}</p>
            <p style="font-size: 20px; margin-bottom: 0px">{{user.username}}</p>
            <p style="font-size: 12px">{{format_time createdAt}}</p>
        </blockquote>
    </div>
    </a>
</div>